<%- include('../partials/header.ejs')%>
<h2 style="text-align: center;">Chess Editor</h2>
<div class="container1">
    <!-- The chess board -->
    <div>
        <div class="float-child">
            <div id="board" style="width: 500px; margin: auto"></div>
        </div>
        <div class="float-child-right">
            <% if (!game) { %>
                <form action='/save' method="POST">
            <% } else { %>
                <form action='/save/<%= game._id %>?_method=PUT' method="POST">
            <% } %>
            <label for='title'>Title: </label><br>
            <% if (game) { %>
                <input type='text' name='title' id='title' value="<%= game.title %>" required><br><br>
                <label for='creator' id='creatorTitle'>Creator: </label><br>
                <input type='text' name='creator' id='creator' value="<%= user.firstName + ' ' + user.lastName %>" readonly required><br><br>
                <label for='chessPositions' id='positionTitle'>Position: </label><br>
                <input type='text' name='chessPositions' id='chessPositions' value="<%= game.chessPositions %>" readonly required><br><br>
            <% } else { %>
                <input type='text' name='title' id='title' value="" required><br><br>
                <label for='creator' id='creatorTitle'>Creator: </label><br>
                <input type='text' name='creator' id='creator' value="<%= user.firstName + ' ' + user.lastName %>" readonly required><br><br>
                <label for='chessPositions' id='positionTitle'>Position: </label><br>
                <% if (editorPieces) { %>
                    <input type='text' name='chessPositions' id='chessPositions' value="<%= editorPieces %>" readonly required><br><br>
                <% } else { %>
                    <input type='text' name='chessPositions' id='chessPositions' value="" readonly required><br><br>
                <% } %>
            <% } %>
            <button>Save Game</button>
            </form>
            <button id="clear">Clear Board</button>
        </div>
    </div>
</div>
<br>
<br>
<form>
    <% if (game) { %>
        <input type="hidden" id="FENstring" name="FENstring" value="<%= game.chessPositions %>">
    <% } else { %>
        <% if (editorPieces) { %>
            <input type="hidden" id="FENstring" name="FENstring" value="<%= editorPieces %>">
        <% } else { %>
            <input type="hidden" id="FENstring" name="FENstring" value="">
        <% } %>
    <% } %>
</form>
<script src="/js/editor.js"></script>

</body>
</html>