<%- include('../partials/header.ejs') %>
<% if (user) { %>
    <h3>Welcome, <%= user.firstName + " " + user.lastName + " (" + user.username + ")" %></h3>
    <% if (user.gamesCreated) { %>
        <h3>Search:</h3>
        <form action="/search" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <button>Search</button>
        </form>
        <h3>Games Created:</h3>
        <% if (user.gamesCreated.length > 0) { %>
            <% for (var i = 0; i < user.gamesCreated.length; i++) { %>
                <% if (i % 6 == 0 && i != 0) { %>
                    <br><br>
                <% } %>
                <div class='sideAdjust'>
                    <div class='itemAdjust'>
                        <p><%= user.gamesCreated[i].title %></p>
                        <div class='thumbnail'>
                            <iframe frameBorder='0' src='/thumbnail/<%= user.gamesCreated[i]._id %>'></iframe>
                        </div>
                        <form>
                            <button formmethod="GET" formaction="/editor/<%= user.gamesCreated[i]._id %>">Edit</button>
                            <button formmethod="GET" formaction="/preview/<%= user.gamesCreated[i]._id %>">Preview</button>
                            <button formmethod="GET" formaction="/play/<%= user.gamesCreated[i]._id %>">Play</button>
                            <button type="submit" formmethod="POST" formaction="/delete/<%= user.gamesCreated[i]._id %>?_method=DELETE">Delete</button>
                        </form>
                        <br>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <h3>You do not have any games to display here. Go into the "Editor" tab to start making games</h3>
        <% } %>
    <% } %>
    <h3>Games Played:</h3>
    <% if (user.gamesPlayed.length > 0) { %>
        <% for (var i = 0; i < user.gamesPlayed.length; i++) { %>
            <% if (i % 6 == 0 && i != 0) { %>
                <br><br>
            <% } %>
            <div class='sideAdjust'>
                <div class='itemAdjust'>
                    <p><%= user.gamesPlayed[i].title %></p>
                    <form>
                        <button formmethod="GET" formaction="/previewplay/<%= user.gamesPlayed[i]._id %>">View</button>
                        <button type="submit" formmethod="POST" formaction="/deleteplay/<%= user.gamesPlayed[i]._id %>?_method=DELETE">Delete</button>
                    </form>
                    <br>
                </div>
            </div>
        <% } %>
    <% } else { %>
        <h3>You do not have any games that you played. Go to the "Play" button on any game you create to play against a computer</h3>
    <% } %>
<% } else { %>
    <h3>Please log into your account to use this section of the application</h3>
<% } %>